<app-autocomplete (onSelect)="onSelect($event)"></app-autocomplete>

<ng-container *ngIf="
  {
    currentCondition: currentCondition$ | async,
    currentLocation: currentLocation$ | async
  } as observables">
    
    <app-current-weather 
    [condition]="observables.currentCondition" 
    [location]="observables.currentLocation"></app-current-weather>

    <h1>{{observables.currentCondition.WeatherText}}</h1>



    <div *ngIf="(isFavorite$ | async)"><strong>favorite!!!!!!!</strong>
    <button (click)="delFavorite(observables.currentLocation)">Delete from favorite</button>
    </div>

    <div *ngIf="!(isFavorite$ | async)"><strong>NOT favorite!!!!!!!</strong>
    <button (click)="addFavorite(observables.currentLocation)">add to favorite</button>
    </div>

</ng-container>


<app-one-day-weather *ngFor="let forecast of (fiveDayForecast$ | async).DailyForecasts" [forecast]="forecast"></app-one-day-weather>
