<mat-form-field [style.fontSize.em]="1.4">
    <mat-label>Start typing to find a city</mat-label>
    <mat-icon matPrefix>search</mat-icon> 
    <input type="text" matInput [formControl]="inputControl" [matAutocomplete]="auto">
</mat-form-field>

  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelect.emit($event.option.value)" [displayWith]="displayFn">
    <mat-option *ngFor="let option of (items | async)" [value]="option" >{{option.LocalizedName}} | {{option.Country.LocalizedName}}</mat-option>
  </mat-autocomplete>